/*--------------------------------------------------------------
19. wpo-contact-pg-section (Dark style like Home-style-5)
--------------------------------------------------------------*/
.wpo-contact-pg-section {
	padding: 80px 0; // Home-style-5 шиг зай
	background-color: $black-bg-color-s3;

	.wpo-contact-title {
		max-width: 440px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 50px;

		h2 {
			font-size: 35px;
			font-weight: 700;
			margin-bottom: 20px;
			color: $white; // Цагаан heading

			@media(max-width:575px){
				font-size: 25px;
			}
		}
	}

	form {
		margin: 0 -15px;
		overflow: hidden;

		input,
		select,
		textarea {
			background: transparent;
			width: 100%;
			height: 50px;
			border: 1px solid $border-color-dark; // Dark style border
			border-radius: 0px;
			padding-left: 25px;
			color: $white; // Цагаан текст

			@include media-query(991px) {
				height: 45px;
			}

			&:focus {
				border-color: $theme-primary-color;
				background: transparent;
				outline: none;
			}
		}

		textarea {
			height: 180px;
			padding-top: 15px;
		}

		@include placeholder-style($black-section-text-color, 15px, normal);

		select {
			color: $black-section-text-color;
			background: transparent url(../../images/select-icon2.png) no-repeat calc(100% - 15px) center;

			&:focus {
				background: transparent url(../../images/select-icon2.png) no-repeat calc(100% - 15px) center;
			}
		}

		.submit-area {
			text-align: center;
			width: 100%;
			margin-bottom: 10px;

			.theme-btn {
				border-radius: 6px;
				font-family: $base-font;
				font-size: 16px;
			}
		}
	}

	.office-info {
		padding-bottom: 100px;
		@media(max-width:767px){
			padding-bottom: 60px;
		}
		
		.office-info-item {
			text-align: center;
			background: $black-bg-color-s2; // Dark background
			box-shadow: 0px 2px 8px 2px rgba(22, 14, 71, 0.1);
			padding: 40px;
			

			.office-info-icon {
				width: 85px;
				height: 85px;
				background: #222; // Darker circle
				line-height: 110px;
				text-align: center;
				margin: 0 auto;
				@include rounded-border(50%);

				.icon {
					.fi {
						&:before {
							font-size: 35px;
							color: $theme-primary-color;
						}
					}
				}
			}

			.office-info-text {
				h2 {
					font-size: 24px;
					font-weight: 600;
					margin: 20px 0 ;
					color: $white; // Цагаан heading
				}
				p {
					color: $black-section-text-color; // Home-style-5 шиг paragraph өнгө
					margin-bottom: 0;
				}
			}
		}
	}

	.wpo-contact-form-area {
		padding: 50px;
		padding-bottom: 0;
		border-radius: 20px;
		background: $black-bg-color-s2; // Dark form background
		box-shadow: 0px 2px 8px 2px rgba(22, 14, 71, 0.1);
		position: relative;
		z-index: 99;
		margin-bottom: -125px;

		@media(max-width:767px){
			padding: 30px;
			padding-top: 50px;
		}
	}
}
