/*=====================================================
10. wpo-service-single
======================================================*/
.wpo-service-single-area{
    background-color: $dark-gray;
    .wpo-service-single-wrap{
        .wpo-service-single-title{
            h3{
                font-weight: 500;
                font-size: 35px;
                line-height: 130.5%;
                margin-bottom: 20px;
                color: $white;

                @media(max-width:767px){
                    font-size: 25px;
                }
            }
        }
        .wpo-service-single-item{
            margin-bottom: 40px;
            .wpo-service-single-main-img{
                margin-bottom: 30px;
            }

        }
        .list-widget{
            max-width: 590px;

            ul{
                list-style: none;

                li{
                    padding: 10px 0;
                    padding-left: 35px;
                    position: relative;

                    &:before{
                       position: absolute;
                       left: 0;
                       top: 50%;
                       transform: translateY(-50%);
                       width: 25px;
                       height: 25px;
                       line-height: 25px;
                       border-radius: 50%;
                       background: transparentize($theme-primary-color, .9);
                       content: "\e64c";
                       font-family: "themify";
                       text-align: center;
                       color: $theme-primary-color;
                       font-size: 14px;
                       
                    }
                }
            }
        }

        .wpo-p-details-img{
            margin-bottom: 10px;
        }

        .wpo-service-area{
            padding-bottom: 0;

            .wpo-service-item {
                    padding: 20px;
                    box-shadow: 0px 4px 10px 3px $theme-primary-color-s2;
                    border-radius: 10px;
                    padding: 60px 40px;
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                    height: 100%;
                    flex: 1 1 100%;
                i{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $dark-gray;
                    box-shadow: 3px 4px 15px 5px rgba(21, 3, 131, 0.04);
                    border-radius: 50%;
			        text-align: center;
                svg {
                        width: 60px;
                        height: 60px;
                }
                path {
                    fill: $white;
                }
            
                    img{
                        max-width: 200px;
                        
                        
                        
                    }
                }

                @media(max-width:1200px){
                    padding: 20px 10px;
                  }

                h2{
                       display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 600;
                    font-size: 22px;
                    margin-bottom: 5px;
                    margin-top: 20px;
                    color: antiquewhite;

                    @media(max-width:1400px){
                      font-size: 19px;
                      margin-bottom: 10px;
                    }
                    @media(max-width:1200px){
                      font-size: 17px;
                      margin-bottom: 10px;
                    }
                    @media(max-width:991px){
                      font-size: 22px;
                    }
                }
                a {
                       display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $cyan;
                    &:hover{
                        color: $theme-primary-color;
                    }
                }
                p{
                       display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 5px;
                    font-size: 16px;
                }
            }
        }

        .wpo-service-contact-area{
            padding: 30px;
            
            border-radius: 20px;
            background: $small-black;
            box-shadow: 0px 4px 10px 3px $theme-primary-color-s2;

            .wpo-contact-title{
                margin-bottom: 30px;
                color: $white;
            }

            .wpo-contact-form-area{
                .col{
                   margin-bottom: 30px;
                }
                .form-control{
                    height: 50px;
                    border:0 ;
                    border-bottom: 1px solid $border-color;
                    border-radius: 0;

                    &:focus{
                        outline: none;
                        box-shadow: none;
                    }
                }
                textarea.form-control{
                    height: 120px;
                }
                select.form-control{
                    background: transparent url(../../images/select-icon2.png) no-repeat calc(100% - 15px) center;
                }

                .submit-area{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button{
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}
